= render @beer

= form_for [@beer, @rating] do |f|
  - if @rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :ratings do |builder|
    .field
      = builder.label :rank, "Rank it!"
      %div{ data: {rating: 0 }}
      = builder.hidden_field :rank
  .actions
    = f.submit 'Save'
