%h1 Listing breweries
-if @breweries.size > 0
  %table
    %tr
      %th Name
      %th
      %th
      %th

    - @breweries.each do |brewery|
      %tr
        %td= brewery.name
        %td= link_to 'Show', brewery
        %td= link_to 'Edit', edit_brewery_path(brewery)
        %td= link_to 'Destroy', brewery, :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p "There are no beers yet!"
%br

= link_to 'New Brewery', new_brewery_path
