- present beer do |beer_presenter|
  %dl.beer
    %dt
      %span Beer: <br/>
      = beer_presenter.name
    %dd.avatar
      = beer_presenter.avatar
    %dd.brewery
      %span Brewery: <br/>
      = beer_presenter.brewery_name
    %dd.submitted
      %span Submitted: <br/>
      = beer_presenter.submitted
    %dd.rating
      %span Rank:  <br/>
      = beer_presenter.rating