- present beer do |beer_presenter|
  %dl.beer
    %dt
      %span Beer:
      = beer_presenter.name
    %dd.avatar
      = beer_presenter.avatar
    %dd.brewery
      %span Brewery:
      = beer_presenter.brewery_name
    %dd.submitted
      %span Submitted:
      = beer_presenter.submitted
    %dd.rating
      %span Rank: 
      = beer_presenter.rating