<!DOCTYPE html>
<html>
<head>
  <title>Rate Mugwarrior</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= yield(:body_id_attribute) %>">
  <header>
    <h1>Beer Ranking</h1>
  </header>
<%- if (request.url != root_url) && (request.url != about_url) %>
	<ul>
	  <li><%= link_to "Feed", beers_path() %></li>
	  <li><%= link_to "Share", new_beer_path() %></li>
	  <li><%= link_to_next_beer_ranking %></li>
	</ul>
<%- end %>
<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
